{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "components": "./src/components",
          "utils": "./src/utils",
          "context": "./src/context",
          "pages": "./src/pages",
          "routes": "./src/routes",
          "services": "./src/services",
          "hooks": "./src/pages"
        }
      }
    ]
  ]
}
