.container {
  display: flex;
  gap: 20px;
  margin: 5% 10%;

  & .left {
    flex: 1;

    & .section {
      background: #fff;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 16px;
      box-shadow: 0 2px 5px rgba(255, 105, 135, 0.1);

      & h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 12px;
        color: #666;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      & .address_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        color: #666;

        & .tag {
          background: #ee6983;
          color: #fff;
          font-size: 12px;
          padding: 5px 10px;
          border-radius: 10px;
          cursor: default;
        }

        & .change {
          margin-left: auto;
          font-size: 16px;
          color: #ee6983;
          cursor: pointer;
        }

        & p {
          flex-basis: 100%;
          margin: 4px 0 0;
          font-size: 13px;
          color: #aeacac;
        }
      }

      & .pay_method {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & label {
          font-size: 16px;
          color: #837d92;
          display: flex;
          align-items: center;
          gap: 8px;

          & input[type="checkbox"] {
            margin: 0;
            accent-color: #ee6983;
          }
        }

        & .change {
          font-size: 16px;
          color: #ee6983;
          cursor: pointer;
        }
      }

      .voucher {
        display: flex;
        align-items: center;
        padding: 8px 0;
        border-radius: 4px;
        font-weight: 500;

        input {
          width: 30%;
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 15px;
          outline: none;
          margin-right: 8px;
        }

        .applyButton {
          padding: 8px 16px;
          background-color: #ee6983;
          color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 15px;
          cursor: pointer;
          margin-right: 8px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #d75c76;
          }
        }

        img {
          margin-right: 8px;
        }

        .change {
          margin-left: auto;
          font-size: 16px;
          color: #ee6983;
          cursor: pointer;
        }
      }
    }

    .shipping_info {
      padding: 16px;
      h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 12px;
        color: #666;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .shipping_options {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
      }

      .shipping_item {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid #f75c8a;
        border-radius: 6px;
        padding: 8px 12px;
        cursor: pointer;
        min-width: 250px;
        transition: all 0.2s ease;
        background: #fff;

        input[type="checkbox"] {
          appearance: none;
          width: 18px;
          height: 18px;
          border: 1.5px solid #aeacac;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:checked {
            background-color: #f75c8a;
            background-image: url("../../assets/images/check.png");
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        div {
          display: flex;
          flex-direction: column;

          strong {
            color: #e90040;
            font-size: 14px;
          }

          p {
            font-size: 13px;
            color: #666;
            margin: 2px 0 0;
          }
        }

        .price_tag {
          margin-left: auto;
          background: #fecfd5;
          color: #444;
          border-radius: 12px;
          padding: 2px 8px;
          font-size: 12px;
        }

        &.active {
          background: #fff0f4;
          border-color: #f75c8a;

          strong {
            color: #e90040;
          }
        }
      }
    }

    & .cart_item {
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #eee;

      & input[type="checkbox"] {
        accent-color: #ee6983;
      }

      & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      & .item_info {
        flex: 2;

        & .brand {
          font-weight: 500;
          font-size: 18px;
          color: #666;
          cursor: pointer;
        }

        & .name {
          font-size: 14px;
          cursor: pointer;
        }

        & .variant {
          font-size: 12px;
          color: #999;
          display: block;
          width: fit-content;
          background-color: #ffe7e7;
          padding: 2% 2%;
          margin-bottom: 2%;
        }

        & .actions {
          & a {
            font-size: 12px;
            color: #999;
            margin-right: 5%;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      & .item_price {
        flex: 1;
        color: #e10000;
        font-weight: 500;
        text-align: center;
        font-size: 22px;
      }

      & .item_quantity {
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        overflow: hidden;
        height: 40px;

        & button {
          flex: 0 0 40px;
          height: 100%;
          border: none;
          background: #fff;
          font-size: 20px;
          color: #4a405a;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background 0.2s;

          &:hover {
            background: #fce4ec;
          }
        }

        & input {
          flex: 1;
          height: 100%;
          border: none;
          text-align: center;
          font-size: 18px;
          color: #f06292;
          outline: none;
          width: 45px;

          &[type="number"]::-webkit-outer-spin-button,
          &[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        & button:first-child {
          border-right: 1px solid #e0e0e0;
        }

        & button:last-child {
          border-left: 1px solid #e0e0e0;
        }
      }

      & .item_total {
        flex: 1;
        color: #e10000;
        font-weight: bold;
        text-align: right;
        font-size: 22px;
        font-family: "Inter", sans-serif;
      }
    }

    .note_total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 48px;
      margin: 12px 0;

      .note_input {
        width: 50%;
        height: 72px;
        background-color: #fff4f4;
        border: none;
        border-radius: 8px;
        padding: 12px;
        font-size: 14px;
        color: #333;
        resize: none;
        line-height: 1.4;

        &::placeholder {
          color: #999;
        }
      }

      .total_price {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .label {
          font-size: 22px;
          color: #666;
        }

        .price {
          color: #e10000;
          font-weight: bold;
          text-align: right;
          font-size: 22px;
          font-family: "Inter", sans-serif;
        }
      }
    }

    & .policy_note {
      font-size: 14px;
      color: #aeacac;
      line-height: 1.5;
    }
  }

  & .right {
    width: 320px;

    & .order_btn {
      width: 100%;
      padding: 12px;
      background: #ee6983;
      color: #fff;
      font-size: 16px;
      border-radius: 6px;
      border: none;
      margin-bottom: 16px;
      cursor: pointer;

      &:hover {
        background-color: #ec407a;
      }
    }

    & .summary {
      background: #fff;
      border-radius: 8px;
      padding: 16px 0;
      box-shadow: 0 2px 5px rgba(255, 105, 135, 0.08);

      & h4 {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 12px;
        color: #ee6983;
        align-items: center;
        margin-top: 0;

        & span {
          font-size: 14px;
        }
      }

      & .line_item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #666;

        & span {
          font-size: 14px;
        }

        & .number {
          color: #000;
        }
      }

      & .divider {
        border-bottom: 1px solid #fecfd5;
        margin: 12px 0;
      }

      & .total {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        align-items: center;
        border-top: 1px solid;

        & .total_span_1 {
          font-weight: 500;
          color: #ee6983;
          font-size: 14px;
        }

        & .total_span_2 {
          font-size: 20px;
          color: red;
        }
      }

      .note_1 {
        font-size: 12px;
        color: #666;
        text-align: left;
        margin: 2px 0;
      }
      .note_2 {
        font-size: 12px;
        color: #aeacac;
        text-align: left;
        margin: 2px 0;
      }

      .change {
        color: #f75c8a;
        font-size: 13px;
        cursor: pointer;
      }
    }
  }
}
