.change_password {
  background: #fff;
  padding:  1.5rem;
  border-radius: 16px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.08);
  width: 700px;
  max-width: 900px;
  margin: 0;
  margin-bottom: 24px;
  height: fit-content;

  & h2 {
    color: #4E4663;
    font-weight: 600;
    margin-bottom: 0;
  }

  & p {
    color: #5C5570;
    font-size: 14px;
  }

  & hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }

  & .form_group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    & label {
      flex: 0 0 180px;
      color: #4E4663;
      font-weight: 500;
      font-size: 14px;
      padding: 10px 0;
    }

    & .username {
      color: #555;
      font-size: 14px;
    }

    & input {
      flex: 1;
      padding: 10px 20px;
      border: 1px solid #ddd;
      border-radius: 25px;
      outline: none;
      transition: all 0.3s;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(237, 100, 166, 0.3);
        border-color: #ed64a6;
      }
    }
  }

  & .actions {
    display: flex;
    justify-content: flex-end;

    & button {
      background: #EE6983;
      color: #fff;
      border: none;
      padding: 0.5rem 3rem;
      border-radius: 25px;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(243, 91, 117, 0.3);
      transition: background 0.3s;

      &:hover {
        background: #ec407a;
      }
    }
  }
}
