.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContent {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  max-width: 460px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
  color: #555;
  background: none;
  border: none;
  cursor: pointer;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.paymentOptions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paymentOption {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  transition: all 0.25s ease;

  input[type="radio"] {
    margin-top: 5px;
  }
}

.paymentMethodItem {
    display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
}

.optionInfo {
  flex: 1;
  margin-left: 12px;
}

.optionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionTitle {
  font-weight: 500;
  font-size: 16px;
}

.optionIcons {
  display: flex;
  gap: 6px;
  font-size: 18px;
  color: #666;
}

.optionDescription {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
}

.active {
  border-color: #ec4899;
  background: #fdf3f7;
}

.confirmButton {
  width: 50%;
  background: #EE6983;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-weight: 500;
  margin: 24px auto 0 auto; 
  cursor: pointer;
  transition: all 0.25s ease;
  display: block;

  &:hover {
    background: #db2777;
  }
}
